{
  "arrowParens": "avoid",
  "importOrders": [
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/provider/(.*)$",
    "^@/services/(.*)$",
    "^@/assets/(.*)$",
    "^@/types/(.*)$",
    "^@/hooks/(.*)$",
    "^../(.*)",
    "^./(.*)",
    "(.scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
