@import "../../../../../../src/app/page.module.scss";

@mixin basketOperationButton {
  width: 30px;
  height: 30px;

  border: 1px solid gray;
  background-color: rgba(255, 255, 255, 0.734);
  border-radius: 100px;
}

.basketItemWrapper {
  font-size: $font-size-medium;
  font-weight: 300;
  color: rgb(76, 72, 72);

  display: flex;
  flex-direction: row;

  border-bottom: 1px solid black;
  .image {
    display: flex;
    width: 80px;
    height: 80px;
    margin-right: 10px;
    img {
      align-self: center;
      width: 100%;
      height: auto;
      filter: brightness(80%);
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .title {
      width: 250px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .count {
      font-weight: 500;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .price {
        width: 60px;
      }
      .operation {
        display: flex;
        align-items: center;

        .countButton {
          @include basketOperationButton;

          display: flex;
          align-items: center;
          justify-content: center;

          margin-left: 5px;
          margin-right: 5px;
          &:active {
            background-color: black;
          }
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
}
.removeButton {
  @include basketOperationButton;
  background-image: url("../../../../../../public/images/trash.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  &:hover {
    opacity: 0.5;
  }
}
