@import "../checkoutMainStyle.module.scss";
.paymentSelectContainer {
  display: grid;
  grid-template-columns: 0.5fr;
  row-gap: 1em;
}

@media (max-width: 420px) {
  .paymentSelectContainer {
    grid-template-columns: 1fr;
  }
}

// &:focus-within {
//   span {
//    top: 1px;
//   }
// }
