@import "../../../../src/app/page.module.scss";
@import "../checkoutMainStyle.module.scss";

.mapContainer {
  height: 300px;
  width: 100%;
  border-radius: 50px;
}
.deliveryInfosInput {
  display: grid;
  grid-template-columns: 0.5fr;
  row-gap: 0.5em;

  li {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
