@import "../../../../../src/app/page.module.scss";
.productContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.3s ease;
}
.imageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  .image {
    display: flex;
    justify-content: center;
    z-index: 100;
    bottom: -85px;
    position: absolute;
    filter: brightness(80%);
  }
}

.info {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: rgb(76, 72, 72);

  padding-bottom: 10%;
  padding-left: 12%;
  padding-right: 12%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgba(167, 158, 158, 0.35);
  border-radius: 30px;

  transition: transform 0.3s ease;

  .title {
    @include overflowText;
    padding-top: 84px; //25%
    display: flex;
    text-align: center;

    justify-content: center;

    line-height: 1.15;
    width: 200px;
    height: 154px;
    span {
    }
  }
  .description {
    font-size: 20px;
    font-weight: 200;
    color: rgba(104, 102, 102, 0.5);

    padding-top: 10px;
    width: 250px;
    height: 160px;
    text-align: justify;
    transition: 0.5s ease;
    @include overflowText;
    ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      // white-space: nowrap;

      .sabDescription {
        padding-left: 12%;
      }
    }
  }
  .price {
    align-self: flex-start;
    margin-bottom: 10px;
  }

  .button {
    white-space: nowrap;
    text-align: center;
    font-size: $font-size-large;
    color: $main-yellow-color;
    transition: transform 0.3s ease;
    &:disabled {
      background-color: rgba(28, 104, 28, 0.698);
    }
    padding: 5px;
    padding-left: 13%;
    padding-right: 13%;
    background-color: $main-red-color;
    border-radius: 30px;
  }
  box-sizing: border-box;
}

//ACTIVE PRODUCT FEALD
.active {
  transform: scale(1.2);
  z-index: 500;

  .info {
    transition: 0.3s ease;
    background-image: linear-gradient(
        to top,
        $main-red-color,
        rgba(170, 10, 10, 0.65)
      ),
      url("/images/testPattern.jpg");
    background-size: 100%;
    opacity: 1;
    color: $main-yellow-color;
    filter: brightness(90%);
    .description {
      transition: 0.3s ease;
      color: rgb(86, 5, 5);
      font-weight: 700;
    }
    .button {
      background-color: $main-yellow-color;
      color: $main-red-color;
    }
  }
}
