@import "../../../../src/app/page.module.scss";

.header {
  display: flex;
  padding-top: 60px;
  padding-bottom: 5px;

  // position: sticky;
  // top: 0;
  // width: 100%;
  // z-index: 100000;
  // background-color: white;
  nav {
    width: 100%;
    font-size: $font-size-large;
    color: $font-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding-left: 40px;
  }
}
