@import "@/page";

//Dropdown Container
.dropdown {
  max-height: 170px;
  width: calc(100% - 0.5em);

  background-color: #eacbcb;
  display: flex;

  border-radius: 0.2em;
  box-shadow: $shadow;

  padding: 0.5em 0 0.5em 0;

  top: 45px;
  z-index: 10;
  opacity: 0;
  position: absolute;

  overflow-y: scroll;
}
.activeDropdown {
  opacity: 1;
}

/// Dropdown Items
.itemsList {
  display: flex;
  flex-direction: column;
  width: 100%;
  .dropdownItem {
    border-bottom: 1px solid rgba(128, 128, 128, 0.49);
    padding: 0.2em 0 0.2em 1em;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    transition: 0.3s;
    &:hover {
      background-color: rgb(11, 24, 24);
      color: white;
    }
  }
}
