@import "@/page";
@import "../../../checkoutMainStyle.module.scss";

.SearchShippingAddressWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .content {
    display: flex;
    gap: 2em;
    .autocompleteContainer {
      width: 290px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      //REFACTORING====================================================
      li {
        display: flex;
        flex-direction: column;
        // gap: 1em;
        span {
          display: flex;
          font-size: 1rem;
          position: relative;
        }
        .inputContainer {
          display: flex;
          position: relative;
          input {
            width: 100%;
            border-bottom: 2px solid $main-color-gray;
            &::-webkit-search-cancel-button {
              appearance: none;
              width: 30px;
              height: 30px;
              background-image: url("/images/clearIcon.png");
              background-size: cover;
              cursor: pointer;
            }
          }
        }
      }
      //REFACTORING====================================================
      button {
        background-color: $main-green-color;
      }
    }
    .mapContainer {
      flex: 1;
      height: 100%;
      width: 100%;
      display: flex;

      justify-content: center;
      .map {
        width: 300px;
        height: 300px;
      }
    }
  }
}
