@import "../../../checkoutMainStyle.module.scss";
@import "@/page";
.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  .inputsContainer {
    display: grid;
    grid-template-columns: repeat(1, 80%);
    row-gap: 2em;
    justify-content: center;
    li {
      display: flex;
      flex-direction: column;
      span {
        display: flex;
        font-size: 1rem;
      }
      .inputContainer {
        display: flex;
        position: relative;
        input {
          width: 100%;
          border-bottom: 2px solid $main-color-gray;

          padding-right: 2.7em;

          &::-webkit-search-cancel-button {
            appearance: none;
            width: 30px;
            height: 30px;
            background-image: url("/images/clearIcon.png");
            background-size: cover;
            cursor: pointer;
          }
        }
      }
    }
  }
}
