@import "../../../../../../../src/app/page.module.scss";

@mixin basketOperationButton {
  width: 30px;
  height: 30px;

  border: 1px solid gray;
  background-color: rgba(255, 255, 255, 0.734);
  border-radius: 100px;
}

.operationButton {
  display: flex;
  align-items: center;

  .countButton {
    @include basketOperationButton;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 5px;
    margin-right: 5px;
    &:active {
      background-color: black;
    }
    &:hover {
      opacity: 0.5;
    }
  }
}
