@import "../../.././/src/app/page.module.scss";
.categoryWrapper {
  font-size: $font-size-big;
  color: $main-red-color;
  display: flex;
  align-items: center;
  flex-direction: column;
  .title {
    transition: 0.3 ease;
    text-align: center;
    width: 100%;
    @include overflowText;
  }
}
