@import "@/page";

.section {
  @include paddingMarginForParagraph;
  position: relative;

  ::-webkit-scrollbar {
    width: 0px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  .sectionContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    .sectionTitle {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    @media (max-width: 420px) {
      .sectionTitle {
        padding-left: 3em;
      }
    }
  }
}

@media (max-width: 420px) {
  .section {
    padding-left: 0;
  }
}

///////small detail
.sectionNumber {
  @include sectionNumber;
}

.uperInputText {
  @include uperText;
}

.inputColumn {
  display: flex;
  flex-direction: column;
  position: relative;

  border: 1px solid $main-border-color;
  border-radius: 0.2em;

  &:focus {
    outline: black;
    box-shadow: $shadow;
  }

  span {
    position: absolute;
    top: -0.7em;
    z-index: 10;
  }
  input {
    padding-left: 1em;
    border-radius: 0.2em;
  }
}
.deliverySectionButton {
  margin: 0.5em auto 0.5em auto;
  text-align: center;
  font-size: $font-size-large;
  @include checkoutPageButton;
}
