@import "../../../../../src/app/page.module.scss";
@import "../../checkoutMainStyle.module.scss";
.deliveryButton {
  margin-right: 0.5em;

  background-color: rgb(73, 145, 73);
  color: white;

  border: none;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}
